html {
	min-height: 100%;
}
body {
	text-align: center;
	background-color: #000;
	color: #fff;
	font: 28px 'Courgette', cursive;
}
h1 {
	font-size: 300%;
}
#city {
	margin-bottom: 30px;
}
a {
	text-decoration: none;
	color: #0000ff;
}

@media screen and (max-width: 500px) {
	h1 {
		font-size: 150%;
	}
}